body {
    background: url(./code-1839406_1920.jpg);
}
fieldset {
    display: flex;
    flex-direction: column;
    background: black;
    width: 350px;
    border-radius: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
legend {
    color: green;
    font-weight: 600;
    font-size: 2rem;
    text-shadow: tomato 2px 2px;
}
input[type=email], input[type=password], input[type=text], input[type=tel] {
    padding: 5px 10px;
}
input[type=email]:hover, input[type=password]:hover, input[type=text]:hover, input[type=tel]:hover, input[type=button]:hover {
    background: lime;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus {
    width: 500px;
    font-size: xx-large;
}
input[type=checkbox] {
    margin: 10px 0;
}
label {
    color: white;
    padding: 10px 0;
}
.submitButton {
    font-size: x-large;
    animation-name: rotation;
    animation-duration: 2s;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }